/*
Orange color: #e67e22, Gold #ffab10, black #555, blue #4B8EE7 grey #d6d6d6
*/
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Lato', 'Ariel', 'sans-serif';
    font-size: 20px;
    }
h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h4 {
    font-weight: 100;
    padding: 5px;
    text-transform: uppercase;
    margin: 10px;
    font-size: 80%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* RE-Useable components */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
#dropdown {display: none;}

.black-bgrd {
    background-color: #000000;
    color: #ffab10;
}

.icon-big,
.icon-small {
    color: #ffab10;
    border-radius: 5px;
    padding: 0 5px;
}
.icon-big {
    font-size: 40px;
    padding: 0 15px;
}
.strapline {
    max-width: 90%;
    text-align: center;
    margin: 20px auto;
    }

.wearebos {
    max-width: 85%;
    margin: auto;
    background-color: #d6d6d6;
    padding: 15px;
    text-align: justify;
    border-radius: 5px;
}
.component1, .component2 {
    height: 220px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffab10;
    
}

.component2 {
    background-color: #d6d6d6;
}
.box {
    padding: 10px;
}

p {
    padding: 10px;
    font-size: 90%;
    }
.mugshot img {
    max-width: 100px;
    margin-left: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffab10;
    }

/*----MAIN NAVIGATION BAR------*/


.main-nav,
.mobile-nav {
    background-color: #000;
    border-radius: 5px;
    }

.main-nav img {
    max-width: 350px;
    height: auto;
    float: left;
}

.main-nav ul {
    padding-top: 40px;
    max-width: 300%;
}

.main-nav ul li {
    text-transform: uppercase;
    float: right;
    max-width: 70%;
    margin-right: 5px;
  }

.main-nav ul li a {
    text-decoration: none;
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    border-color: #ffab10;
    transition: all ease-in-out 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
        
}

.main-nav ul li a:hover {
    color: #ffab10;
    border-color: #d6d6d6;
    
}

.infocus a {
    background-color: #777777;
}
.device-li {display: none;}
.aboutus1 {display: none;}

/*----MOBILE NAVIGATION BAR------*/

.mobile-nav {
    display: none;
    float: right;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    }  
/*----MOBILE Dropdown alternative------*/

.dropdown {
    float: right;
    max-width: 100%;
    color: #fff;
}

.dropdown .dropbtn, .products {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    text-decoration: none;
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    border-color: #ffab10;
}
.products {
    margin-bottom: 10px;
}
.submit-btn {
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    text-decoration: none;
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    border-color: #ffab10;
    display: block;
    
}
.dropdown-content {
    display: none;
    max-width: 260px;
    background-color: #f9f9f9;
    text-transform: uppercase;
    margin-right: 5px;
    z-index: 1;
}

.dropdown-content a {    
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    border-color: #ffab10;
    transition: all ease-in-out 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
        
}
.show {
    display: block;
}
.hide {
    display: none;
}
/* animations */

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


/* Full-width input fields */

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-primary:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.modal {
    display:none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    max-width: 1140px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: #000;
    color: #d6d6d6;
}




