div.table {
    display: table;
}

div.table > div.thead {
    display: table-header-group;
}

div.table > div.tbody {
    display: table-row-group;
}

div.table > div.thead > div.table-row,
div.table > div.tbody > div.table-row {
    display: table-row;
}

div.table > div.thead > div.table-row > div.table-heading {
    display: table-cell;
    font-weight: bold;
}

div.table > div.tbody > div.table-row > div.table-cell {
    display: table-cell;
}