/*==============Styling for the vault door*================*/

#vault-door {
    width: 300px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
}


/*==============Animation for the vault door*================*/

#door {
    display: none;
    margin-top: 100px; /* Location of the box */
    transform:perspective(300px) rotate(0deg);
    transform-origin: 0% 0%;
    animation:open 3s linear;
}

@keyframes open {
    0% {
        transform:perspective(300px) rotateY(0deg);
    }
    25% {
        transform:perspective(300px) rotateY(0deg);
    }
    50% {
        transform:perspective(300px) rotateY(20deg);
    }
    75% {
        transform:perspective(300px) rotateY(45deg);
    }
    100% {
        transform:perspective(300px) rotateY(80deg);
    }
}
    
}