/*
@media all and (max-width: 1150px) {reduce box text size}
@media all and (max-width: 991px) { ... }
@media all and (max-width: 768px) { ... }
@media all and (max-width: 480px) { ... }*/

/*=====================================================*/

@media only screen and (max-width: 1150px) {
    
 .main-nav ul li a {font-size: 75%;}   
p {font-size: 0.9em;}

.profiles {
    height: 250px;
    }
.profiles p, h2 {
    padding: 5px;
    padding-bottom: 0px;
    font-size: 80%;
    }
.hide-first { 
    display: none;
    }
    
.mugshot img {
    max-width: 70px;
    
    }
}
/*=====================================================*/

/*=====================================================*/

@media only screen and (max-width: 991px) {
    
p {font-size: 0.8em;}

.main-nav img {
    max-width: 250px;
    height: auto;
    }
    
.main-nav ul li a {font-size: 70%;}

.main-nav ul {padding-top: 25px;}
    }
   
/*=====================================================*/

@media only screen and (max-width: 768px) {
    
/*=========Menu Button================*/  
    
    
.main-nav ul li a {
    font-size: 70%;
}  
.main-li, 
.summary, 
.aboutus {
    display: none;
}  
 .aboutus1 {
    display: contents;
}       
    
.device-li {
    display: inline;    
    }   
    
/*=========Mobile dropdown Menu================*/  
    
.mobile-nav {
    display: inline-block;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/menu-background.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/menu-background2.png);
    background-size: cover;
    transition: all ease-in-out 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    
    }
.mobile-nav ul {
    width: 90%;
    height: auto;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}
.mobile-nav ul li {
    width: 90%;    
    }   
.mobile-nav ul li a{
    width: 90%;
    margin-bottom: 5px;
}

.mobile-nav ul li a {
    width: 90%;
    font-size: 70%;
    text-transform: uppercase;
    float: right;
    text-decoration: none;
    color: #d6d6d6;
    padding: 5px;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    margin-right: 5px;
    border-color: #c19035;
  }
.mobile-nav ul li a:hover {
    color: #c19035;
    border-color: #d6d6d6;
}
/*===========Other Changes==========================================*/ 
    
    
.box {height: auto;} 
h3 {font-size: 90%;} 
    
h4 {   
    margin: 10px;
    font-size: 60%;
    word-spacing: 1px;
    letter-spacing: 0;
    
}

.director {
   background-color: #000000;
    color: #d6d6d6;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border-color: #ffab10;
   }
.mugshot1{
    max-width: 70%;
    margin: auto;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffab10;
    }    
   
.mugshot1 img {
    max-width: 75px;
    margin-left: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffab10;
    }

/*============CLOSE QUERY=========================================*/    
       
}

/*=============END========================================*/

@media only screen and (max-width: 480px) {
    
    .device-li {
        margin-top: 5px;
    }    
.main-nav ul {
    border-radius: 5px;
    padding-top: 0;    
  }       
    
.main-nav img {
    max-width: 150px;
    height: auto;
    }
.mobile-nav {
    padding: 0px;
    width: 100%;
   
}
.dropdown-content {
        clear: both;
    }
h4 {
  font-size: 50%;  
}    
}
