/*
Orange color: #e67e22, Gold #ffab10, black #555, blue #4B8EE7 grey #d6d6d6
*/
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Lato', 'Ariel', 'sans-serif';
    font-size: 20px;
    }
h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h4 {
    font-weight: 100;
    padding: 5px;
    text-transform: uppercase;
    margin: 10px;
    font-size: 80%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* RE-Useable components */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}
#dropdown {display: none;}

.black-bgrd {
    background-color: #000000;
    color: #ffab10;
}

.icon-big,
.icon-small {
    color: #ffab10;
    border-radius: 5px;
    padding: 0 5px;
}
.icon-big {
    font-size: 40px;
    padding: 0 15px;
}
.strapline {
    max-width: 90%;
    text-align: center;
    margin: 20px auto;
    }

.wearebos {
    max-width: 85%;
    margin: auto;
    background-color: #d6d6d6;
    padding: 15px;
    text-align: justify;
    border-radius: 5px;
}
.component1, .component2 {
    height: 220px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffab10;
    
}

.component2 {
    background-color: #d6d6d6;
}
.box {
    padding: 10px;
}

p {
    padding: 10px;
    font-size: 90%;
    }
.mugshot img {
    max-width: 100px;
    margin-left: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffab10;
    }

/*----MAIN NAVIGATION BAR------*/


.main-nav,
.mobile-nav {
    background-color: #000;
    border-radius: 5px;
    }

.main-nav img {
    max-width: 350px;
    height: auto;
    float: left;
}

.main-nav ul {
    list-style: none;
    padding-top: 40px;
    max-width: 100%;
}

.main-nav ul li {
    text-transform: uppercase;
    float: right;
    max-width: 70%;
    margin-right: 5px;
  }

.main-nav ul li a {
    text-decoration: none;
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    border-color: #ffab10;
    transition: all ease-in-out 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
        
}

.main-nav ul li a:hover {
    color: #ffab10;
    border-color: #d6d6d6;
    
}

.infocus a {
    background-color: #777777;
}
.device-li {display: none;}
.aboutus1 {display: none;}

/*----MOBILE NAVIGATION BAR------*/

.mobile-nav {
    display: none;
    float: right;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    }  
/*----MOBILE Dropdown alternative------*/

.dropdown {
    float: right;
    max-width: 100%;
    color: #fff;
}

.dropdown .dropbtn, .products {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    text-decoration: none;
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    border-color: #ffab10;
}
.products {
    margin-bottom: 10px;
}
.submit-btn {
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    text-decoration: none;
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    border-color: #ffab10;
    display: block;
    
}
.dropdown-content {
    display: none;
    max-width: 260px;
    background-color: #f9f9f9;
    text-transform: uppercase;
    margin-right: 5px;
    z-index: 1;
}

.dropdown-content a {    
    color: #d6d6d6;
    border-style: solid;
    border-width; 2px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    border-color: #ffab10;
    transition: all ease-in-out 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
        
}
.show {
    display: block;
}
.hide {
    display: none;
}
.display_none{
    display: none !important;
}
/* animations */

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


/* Full-width input fields */

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-primary:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.modal {
    display:none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-sm{
    width: 50%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    max-width: 1140px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: #000;
    color: #d6d6d6;
}

footer[role=contentinfo]{
    width: 100% !important;
    max-width: 100% !important;
}
.error{
    color: red;
}

.modal-secondary{
    height: auto;
    padding-top: 0;
}
.modal-secondary form{
    margin: 0;
}
.modal-secondary .modal-header .close{
    font-size: 14px;
    font-weight: 400;
    width: 22px;
}
.modal-secondary .modal-body{
    max-height: 500px;
}
.modal-secondary .btn-primary{
    width: auto;
    margin-top: 0;
}

.add-message-btn{
    max-width: 15%;
}

.header_welcome_text{
    text-align: right;
    line-height: 2.5;
    margin: 24px 29px 0px 0px;
    color: #ffab10;
}
.folders-table tr{
    background: #eeeeee;
}
.new-entry{
    color: #6b6f78;
    font-size:16px;
    font-weight:normal;
}
.folders-table .message{
    margin-bottom: 0 !important;
}
#message-box{
    background-color: #ffffff;
    border: 1px solid #000000;
}
.folder_detail{
      background-color: #fff;
      display: none;
}
.message-save{
      float: right;
}
.l-wrap .new-messages{
    color: #ffab0e;
}
#subnav li a:hover{
    color: #6b6f78 !important;
}
.row .sub-menu-contact{
    list-style-type: none;
}
.row .sub-menu-contact li a{
    text-decoration: none;
    color: #6b6f78;
    line-height: 2;
}
.row .contact-span{
    width: 74.2% !important;
}
.contact-span .message-time{
    font-weight: normal;
    letter-spacing: normal;
    font-size: 15px;
    color: #6b6f78;
    text-transform: capitalize;
}
.note-single{
    margin: 14px 0 !important;
    padding: 10px 0px 0px !important;
    border-bottom: 1px solid #eeeeee;
    border-top: none !important;
    list-style: none;
}
.note-single ul{
    margin: 9px -35px;
    display: table;
}
.note-single ul li{
    float: left;
    margin: 0 10px 0 10px;
    list-style-type: none;
}
.note-single ul li a{
    color: #6b6f78;
    text-decoration: none;
    letter-spacing: 1px;
}
.note-single .unread{
    color: #ffab0e;
}
.note-single-open {
    padding: 30px 0 0;
    border-top: 1px solid #eeeeee;
}
.note-single-open ul{
    margin: 25px -35px;
    display: table;
}

.note-single-open ul li{
    float: left;
    margin: 0 10px 0 10px;
    list-style-type: none;
}
.note-single-open ul li a{
    color: #ffab0e;
    text-decoration: none;
    letter-spacing: 1px;
}
.note-single-open h4{
    margin-bottom: 15px !important;
}
#subnav li.active a{
    color: #ffab0e;
}
.sidebar-menu li.active a{
    color: #ffab0e;
}
.notes-log{
    max-height: 388px;
    overflow-y: scroll;
}
.notes-log h4{
    letter-spacing: 0.5px;
}
#tab2 .folder-names{
    height:490px;
    overflow:auto;
}
#tab2 .folder-names ul li{
    border-bottom: 1px solid #000000;
    padding: 10px 0px 10px 0px;
}
#tab2 .folder-names a {
    /*border-bottom: 1px solid #000000;*/
    letter-spacing: 1.2px;
    color: #6b6f78;
    text-decoration: none;
}
.folder-details{
    height:300px;
    overflow:auto;
}
.modal-full{
    height: calc(100% - 40px);
    width: calc(100% - 40px) !important;
    margin-left: 0 !important;
    left: 20px !important;
    top: 20px !important;
}
.modal-full .modal-body {
    max-height: calc(100% - 120px);
    height: 100%;
}


.modal-lg{
    height: calc(85% - 20px);
    width: calc(62% - 40px) !important;
    margin-left: 0 !important;
    left: 20% !important;
}
.modal-lg .modal-body {
    max-height: calc(100% - 120px);
    height: 80%;
}


.folder-messages{
    left: -10px;
    float: right;
    position: relative;
}
.folder-messages .dropzone{
    min-height: 90px;
}
.vault{
    max-width: 100%;
}
button.message-save{
    margin-top: 12px
}

.vault-messsage-list{
    max-height: 300px;
    overflow-y: scroll;
    height: 100%;
}

.vault-message{
    padding: 10px 10px 5px 5px;
    margin: 5px 5px;
}

.vault-message-reply{
    background: #eeeeee;
    width: 70%;
    margin-left: 29%;
    list-style: none;
}
.vault-message .author-name{
    letter-spacing: 0px;
    font-size: 12px;
    margin: 0px;
}
.vault-message .secondary .time{
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}
.vault-message .secondary .message-text{
    margin: 2px 2px;
}

.document_dropzone{
    min-height: 29px !important;
    border: 1px solid #eeeeee !important;
    background: #eeeeee;
    padding: 0px !important;
    margin: 0px 0px 0px 0px;
}
.document_dropzone .dz-message{
    margin: 1em 0 !important;
}
.icon-secondary{
    font-size: 25px;
}
.note-single-reply{
    margin-left: 30% !important;
    background: #eeeeee;
    padding: 13px 10px !important;
    border-radius: 5px;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-right{
    text-align: right;
}

.note-single  .author-name{
    line-height: 0px;
}

.backDoor
{
    position:relative;
    width:300px;
    margin: 0 auto;

}

.door
{
    /*background-color: brown;*/
    position:absolute;
    left:0px;
    width:300px;
    top: 100px;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left;
    /*Speed of the Door animation*/
    -moz-transition:all 3s ease-in-out ;
    -webkit-transition:all 3s ease-in-out ;
    transition: all 3s ease-in-out;
}

.doorOpen
{
    /*prespectiv creates the door open effect*/
    -webkit-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    -moz-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    -ms-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    -o-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
