/*==============Transorm hover for the buttons*================*/

a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    transition: transform .5s;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}
/*==============Styling for the vault door*================*/

#vault-door {
    width: 300px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
}


/*==============Animation for the vault door*================*/

#door {
    display: none;
    margin-top: 100px; /* Location of the box */
    transform:perspective(300px) rotate(0deg);
    transform-origin: 0% 0%;
    animation:open 3s linear;
}

@keyframes open {
    0% {
        transform:perspective(300px) rotateY(80deg);
    }
    25% {
        transform:perspective(300px) rotateY(45deg);
    }
    50% {
        transform:perspective(300px) rotateY(20deg);
    }
    75% {
        transform:perspective(300px) rotateY(0deg);
    }
    100% {
        transform:perspective(300px) rotateY(0deg);
    }
}
/*==============Changes for mobile devices*================*/


@media only screen and (max-width: 768px) {

    .first-col, .last-col {
        display: none;
    }
    .verify (
)
}